@model Cloud_Storage.Models.Sighting

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sighting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sighting_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sighting_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sighting_Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sighting_Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birder.Birder_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bird)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bird.Bird_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Sighting_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
